<Config>
  <LogLevel>debug</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>6da5b53f0333403998c5ed3bc6bbfcd1</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>main</Branch>
  <SslCertHash></SslCertHash>
</Config>